<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    
    <SMTPUser type="cleartext"> kananamwenda20@gmail.com </SMTPUser> 
    
    <SMTPPassword type="encrypted">TGEz827ilG7jLyUTCH113PWxChyU0HKeD/gs5tvCRfk=</SMTPPassword>
    
    <DBUser type="cleartext"> kanana </DBUser>
                
    <DBPassword type="encrypted">xfMQY7sAoeOXZ9dCpYPBqw==</DBPassword>
            
</config>
